# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular
/dist/
/node_modules/
*.log
*.swp
*.swo
*.pyc
*.pyo
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.ncb
*.sdf
*.suo
*.pdb
*.idb
*.bsc
*.ilk
*.exp
*.orig
*.in
*.out
*.lock
*.png
*.jpg
*.gif
*.min.*
*.map
*.css.map
*.tsbuildinfo
*.bak
*.cache
*.tgz
*.zip
*.rar
*.7z
*.log.*

# Ignoring additional file types
*.scss
*.svg
*.woff2
*.woff
*.js

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db